<div class="container min-h-full flex sm:px-6 lg:px-8">
<header class="w-full h-10 flex">
  <ul class="w-full flex flex-col justify-around gap-4 text-2xl font-bold underline">
    <li>
      <%= link_to "Login", new_user_session_path %>
    </li>
    <li>
      <%= link_to "Register", new_user_registration_path %>
    </li>
  </ul>
</header> 

<h1 class="text-4xl font-bold">
    Bem vindo ao CRUD de Sistemas Distribuidos
</h1>
</div>