<div class="container min-h-full align-center flex flex-col gap-8 sm:px-6 lg:px-8">
<header class="w-full h-10 flex">
  <ul class="w-full flex flex-col justify-around gap-4 text-2xl font-bold underline">
    <li>
      <%= link_to "Faça o login", new_user_session_path %>
    </li>
    <li>
      <%= link_to "Faça o registro", new_user_registration_path %>
    </li>
  </ul>
  <h1 class="text-4xl font-bold space-y-4">
      Bem vindo ao The Articles!
  </h1>
</header> 

<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/2d78d141-1f64-44c8-976b-7321284e5147/dfjfdbh-02721342-e03d-4748-965f-f5fd5773baba.png" alt="imagem" class="max-w-3xl mt-8">
</div>